header.header
  .header__top
    .container
      contacts
        a.contact(href="tel:+79655813574")
          i.fa.fa-mobile(aria-hidden="true")
            span.contact__text 6633 66969
  .header__bottom
    
